body {
  font-family: Arial;
  text-align: left;
}

h2 {
  font-weight: 100;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
  color: #785616;
}

h4 {
  font-weight: 100;
  margin-left: 20px;
  margin-top: 0;
  font-size: .9em;
  padding-bottom: 10px;
  margin-bottom: 0;
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 5;
  right: 5;
  width: 99%;
}

.hidden {
  visibility: hidden;
}

.bordered {
  border: solid;
  padding: 10px 10px 9px 13px;
}

#fullWidthDiv {
  margin: 0;
  width: 100%;
}

#sideBar {
  width: 159px;
  background-color: #4DD7FA;
  float: left;
  margin-right: 15px;
}

.main {
  width: 1215px;
  border: solid;
  background-color: #FEFAC0;
  float: left;
}

.even-songs section:nth-child(2n+0) {
  background-color: SeaShell;
}

.odd-songs section:nth-child(2n+1) {
  background-color: MintCream;
}

.bold-song section:first-of-type > h2 {
  font-weight: bold;
}

.bold-song section:first-of-type > h4 {
  font-weight: bold;
}

.centered {
  display: block;
  margin-left: 35px;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="range"] {
  margin-bottom: 15px;
}

.blockDisplay {
  display: block;
}


.cleared {
  clear: both;
}

.navigation > li {
  list-style: none;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
 }

.list-music {
  text-decoration: none;
  color: black;
}

.navigation > li:hover {
  background-color: white;
}

.navigation {
  border: solid;
  padding: 20px;
}

input[type="submit"] {
  font-size: 5em;
  margin: 0 auto 0 auto;
}

#menuBar {
  background: #FFB4B0;
  width: 100%;
}

/* Add Music Page: */

#add-music > div > label {
  display: inline;
  margin-right: 10px;
}

#add-music > div {
  margin: 8px;
}

#add-button {
  margin-left: 8px;
}

.display-none {
  display: none;
}







