body {
  font-family: Arial;
  text-align: left;
}

h2 {
  font-weight: 100;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #785616;
}

h4 {
  font-weight: 100;
  margin-left: 20px;
  margin-top: 0;
  font-size: .9em;
}

.bordered {
  border: solid;
  padding: 10px 10px 9px 13px;
}

#sideBar {
  width: 159px;
  background-color: #4DD7FA;
  float: left;
  margin-right: 15px;
}

.centered {
  display: block;
  margin-left: 35px;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="range"] {
  margin-bottom: 15px;
}

.blockDisplay {
  display: block;
}

#fullWidthDiv {
  width: 100%;
  overflow-x:scroll;
  overflow-y:auto;
}

.cleared {
  clear: both;
}

.navigation > li {
  list-style: none;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
 }

.viewMusic {
  text-decoration: none;
  color: black;
}

.navigation > li:hover {
  background-color: white;
}

.navigation {
	border: solid;
	padding: 20px;
}

input[type="submit"] {
  font-size: 5em;
  margin: 0 auto 0 auto;
}

#menuBar {
	background: #FFB4B0;
	width: 100%;
}

.main {
  width: 1215px;
  border: solid;
  background-color: #FEFAC0;
  float: left;
}