body {
  font-family: Arial;
  text-align: left;
}

.bordered {
  border: solid;
  padding: 10px;
}

#sideBar {
  width: 29%;
  background-color: #4DD7FA;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input[type="range"] {
  margin-bottom: 15px;
}

.blockDisplay {
  display: block;
}

.cleared {
  clear: both;
}

.navigation > li {
  list-style: none;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
 }

.navigation > li:hover {
  background-color: white;
}

.navigation {
	border: solid;
	padding: 20px;
}

#menuBar {
	background: #FFB4B0;
	width: 100%;
}