

{{#each this}}
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <h4>Song Name: {{songTitle}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Album: {{album}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Artist: {{artist}}</h4>
    </div>
  </div>
</div>
{{/each}}
