<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Albums <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
		{{#each songList}}
    		<li><a href="#">{{album}}</a></li>
		{{/each}}
  </ul>