<div class="form-group">
      <select id="selected-album" class="form-control">
        <option>Albums</option>
        {{#each []}}
        <option><a href="#">{{[]}}</a></option>
        {{/each}}
      </select>
</div>