<div class="form-group">
      <select id="selected-album" class="form-control">
        <option>Albums</option>
        {{#each this}}
        <option><a href="#">{{this}}</a></option>
        {{/each}}
      </select>
</div>