<div class="form-group">
      <select id="selected-artist" class="form-control">
        <option>Artists</option>
        {{#each []}}
        <option><a href="#">{{[]}}</a></option>
        {{/each}}
      </select>
</div>


