{{#each this}}
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <h4>{{songTitle}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>{{artistAndAlbum}}</h4>
    </div>
  </div>
</div>
{{/each}}