{{#each songList}}
<section>
	<h2>{{songTitle}}</h2>
	<h4>
		By {{artist}} on the album {{album}}
		<input class="btn btn-primary btn-sm delete" type="button" value="delete">
	</h4>
</section>

{{/each}}